@import "tailwindcss";

/* ===============================
   Global Theme Variables
================================ */
@theme {
  /* 🎨 Colors */
  --color-primary: #346781;        /* #444444 */
  --color-primary-light: #0E4B6A;
  --color-primary-btns: #014162; 

  --color-secondary: 255 152 0;     /* #FF9800 */
  --color-secondary-light: 255 183 77;
  --color-secondary-dark: 245 124 0;

  --color-bg-default: 245 245 245;  /* #F5F5F5 */
  --color-bg-paper: 255 255 255;
  
  --color-main-font:#000000;
  /* 🧠 Typography */
  --font-sans: "Inter", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;

  /* 📐 Radius */
  --radius-default: 8px;
}

/* ===============================
   Base Styles
================================ */
@layer base {
  body {
    font-family: var(--font-sans);
    background-color: rgb(var(--color-bg-default));
    color: rgb(var(--color-primary));
  }
}
